@import 'foundation/settings'; /* import everything */
@import 'checkboxes';
@import 'invoice';

$topbar-color: #312c32;
$topbar-bg-color:$topbar-color;
$off-canvas-bg: $topbar-color;
$tabbar-bg:$topbar-color;

$typo-offgray:#6f6f6f;
$typo-gray2:#3b3a36;
$typo-gray3:#bbbbbb;
$typo-lightgray:#e3e0cf;

@import 'foundation'; /* import everything */
@import 'normalize'; /* import everything */
// And so on...
/* or just import the bits you need: @import 'foundation/functions'; */


@mixin box-shadow($top, $left, $blur, $spread,$color) {
  -webkit-box-shadow:$top $left $blur $spread $color;
  -moz-box-shadow:$top $left $blur $spread $color;
  box-shadow:$top $left $blur $spread $color;
}
.custom-side-nav{
  @include side-nav(
    // Border color of divider
  $divider-color: #ffffff,
    // Color of navigation links
  $link-color:#A7AEB6,
    // Color of navigation links on active
  $link-color-active: #444,
    // Color of navigation links on hover
  $link-color-hover: #fff
  )
}

body {
  background-color: #fcfcfb;
}
.left-pane{
  height: 100%;
  background-color: #333333;
}
.login-box {
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

.log-in-form {
  border: 1px solid $form-border-color;
  padding: $form-padding;
  border-radius: $form-radius;
}

.list-items{
  //margin: 0px 10px 0px 10px;
  overflow: hidden;
}
.list-items .row{
  @include box-shadow(0, 3px, 3px, -3px, #777);
  background: $white;color: #88888A;
  height: 50px;
  margin-bottom: 2px;
}
.list-items .row .columns{
  //display: table-cell;
  //vertical-align: middle;
}
// dropdown
.select-large {
  left: 0;
  position: relative;
  width: 100%;
  background-color: $white;color: #88888A;
}
.select-large button {
  background: $white;width: 100%;color: #1a1a1a; @include box-shadow(0, 3px, 3px, -3px, #777);
}
.select-large button:hover {
  color: #1a1a1a;
}
.select-large ul {
  list-style: none;
  display: none;
  padding: 0px;margin: 0px;
}
.select-dropdown{
  display: none;
  position: absolute;
  background: $white;
  width: 100%;color: #1a1a1a;
  border: 1px solid $form-border-color;z-index: 1000;
}
.select-large ul li {
  height:40px;padding-top: 5px;padding-left: 20px;
}
.select-large ul li:hover{
  color: #57a9d9;cursor: pointer;
}
.select-large button:focus + .select-dropdown,
.select-dropdown:hover {
  display: block;
}
.select-large button:focus{
  color: #1a1a1a;
}
.select-large button:after { /* Little arrow */
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #4cbeff transparent;
}
//.select-large .divider,
//.select-large [role="separator"] {
//  border-top: solid 1px #1a1a1a;
//  clear: both;
//  height: 1px;
//  width: 100%; }
//.select-large ul li {
//  background: #333333;
//}
.food-desc{
  overflow: hidden;padding: 4px;
}
.food-desc-header {
  padding: 0;font-size: 14px;font-weight: bold; margin-left:10px; float: left;
}
.food-desc-detail {
  padding: 0;font-size: small;margin-left:10px; float: left;
}
.food-desc-price{
  font-weight: bold;color: #de2d0f;font-size: 14px;margin-left:20px; float: right;
}
.item-side-panel{
  display: table;
  margin-top: 5px;width: 100%; position: relative;
}
.food-image{
  display: block;
}
.food-side{
  margin-top: 5px;background-color:$white; overflow: hidden;
  @include box-shadow(0, 3px, 3px, -3px, #777);
}
.food-add{
  display: block;position: relative; overflow: hidden;width: 100%; padding: 5px; margin-left: 60px;
  .food-add-qty{
    float: left; width: 40px;text-align: center;font-size: 14px; margin-top: 5px;color: #6f6f6f;
  }
  .food-add-cart{
    @extend .button;
    @extend .radius;
    @extend .alert;
    height: 30px;font-size: 13px; padding: 0px 10px 0px 10px; margin-left: 10px; float: left;
  }
}

.control-buttons{
  border-radius: 2px;border: 1px solid $form-border-color; position: relative;overflow: hidden;
  width: 30px;height: 30px; text-align: center; font-size: 32px;color: $medium-gray;
  .add-btn{
    left:-1px;top:-9px; height: 30px; width: 30px;position: absolute;
  }
  .ded-btn{
    left:-1px;top:-26px; height: 30px; width: 30px;position: absolute;
  }
  :hover{
    cursor: pointer;
  }
}

.threedots-vert {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $medium-gray;
  box-shadow: 10px 0px 0px $medium-gray, 20px 0px 0px $medium-gray;
}
.food-select{
  height: 15px;width: 36px;float: left; margin-left: 24px;padding-top: 10px;
}
.parent-container{
  background-color: $white;
  padding: 10px;
  .div-row{
    position: relative;overflow: hidden;
    min-height: 50px;
    margin-top: 2px;
    .div-column{

    }
  }
}
.order-details{
  color: $typo-offgray;font-size: 14px;
  .order-rates{
    color: $typo-gray3;
  }
}
.row-padding {
  .columns {
    padding-left:4px;
    padding-right:4px;
  }
}
.switch-label{
  margin-bottom: 10px;
  margin-left: 20px;
}
.content-title{
  height: 40px;
  background: $typo-lightgray;
  .legend{
    text-align: center;color: $typo-gray2;padding-top: 10px;
  }
}
.total{
  color: red; text-align: center;
  font-size: 26px;
}
.button-small{
  @extend .button;
  @extend .alert;
  height: 36px;font-size: 13px; padding: 0px 10px 0px 10px;
}
.btn-order-detail{
  width: 200px; margin: auto;
  button{
    width: 200px;
  }
}

/** form style**/
.form-line{
  margin: 50px auto;
  //box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  //-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  //-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
//.form-line h2{
//  background: #4D4D4D;
//  text-transform: uppercase;
//  font-family: 'Open Sans Condensed', sans-serif;
//  color: #797979;
//  font-size: 18px;
//  font-weight: 100;
//  padding: 20px;
//  margin: -30px -30px 30px -30px;
//}
.form-line input[type="text"],
.form-line input[type="date"],
.form-line input[type="datetime"],
.form-line input[type="email"],
.form-line input[type="number"],
.form-line input[type="search"],
.form-line input[type="time"],
.form-line input[type="url"],
.form-line input[type="password"],
.form-line textarea,
.form-line select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow:  none;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}
.form-line textarea{
  resize:none;
  overflow: hidden;
}
.form-line input[type="button"],
.form-line input[type="submit"]{
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.form-line input[type="button"]:hover,
.form-line input[type="submit"]:hover {
  background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  background-color:#34CACA;
}
.cust-sect-wrap{
  height: 60px;
}
.cust-sect{

}
.cust-sect-no{
  color: $typo-gray3;
  font-size: 13px;
}
.print-container{
  width: 980px;margin: auto;
}

/** **/
