@import 'foundation/settings'; /* import everything */

$topbar-bg-color:#309199;

@import 'foundation'; /* import everything */
@import 'normalize'; /* import everything */
// And so on...
/* or just import the bits you need: @import 'foundation/functions'; */
.custom-side-nav{
  @include side-nav(
    // Border color of divider
  $divider-color: #ffffff,
    // Color of navigation links
  $link-color:#A7AEB6,
    // Color of navigation links on active
  $link-color-active: #444,
    // Color of navigation links on hover
  $link-color-hover: #fff
  )
}

body {
  background-color: #fcfcfb;
}
.left-pane{
  height: 100%;
  background-color: #333333;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
