<!--<div class="off-canvas-wrap" data-offcanvas>-->
    <!--<div class="inner-wrap">-->
        <!--<nav class="tab-bar">-->


        <!--</nav>-->

        <!--<aside class="left-off-canvas-menu">-->
            <!--<ul class="off-canvas-list">-->
                <!--<li><label>Foundation</label></li>-->
                <!--<li><a href="#" >The Psychohistorians</a></li>-->
                <!--<li><a href="#">...</a></li>-->
            <!--</ul>-->
        <!--</aside>-->


        <!--<section class="main-section">-->
          <!---->
        <!--</section>-->

        <!--<a class="exit-off-canvas"></a>-->

    <!--</div>-->
<!--</div>-->

<div class="row" style="max-width: 100%">
<div class=" small-2 columns left-pane">
    <ul class="custom-side-nav">
        <li class="active"><a href="#" {{action "addOrder" }}>ORDERS</a></li>
        <li><a href="#" {{action "customerPanel"}} >CUSTOMERS</a></li>
        <li class="divider divider-color"></li>
        <li><a href="#">KITCHEN</a></li>
        <li><a href="#">LOG</a></li>
    </ul>
</div>

<div class="small-10 columns">
  {{component getMainWidget attr=attr}}
    {{!module/customer-panel attr=attr}}
</div>
</div>
