<!--<div class="off-canvas-wrap" data-offcanvas>-->
    <!--<div class="inner-wrap">-->
        <!--<nav class="tab-bar">-->


        <!--</nav>-->

        <!--<aside class="left-off-canvas-menu">-->
            <!--<ul class="off-canvas-list">-->
                <!--<li><label>Foundation</label></li>-->
                <!--<li><a href="#" >The Psychohistorians</a></li>-->
                <!--<li><a href="#">...</a></li>-->
            <!--</ul>-->
        <!--</aside>-->


        <!--<section class="main-section">-->
          <!---->
        <!--</section>-->

        <!--<a class="exit-off-canvas"></a>-->

    <!--</div>-->
<!--</div>-->



    <ul class="custom-side-nav">
        <li class="active"><a href="#" {{action "setWidget" "order-panel"}}>ORDERS</a></li>
        <li><a href="#" {{action "setWidget" "customer-panel"}} >CUSTOMERS</a></li>
        <li class="divider divider-color"></li>
        <li><a href="#">KITCHEN</a></li>
        <li><a href="#">LOG</a></li>
    </ul>


