<h1>Customer</h1>
<div class="row">
    <div class="small-3 columns">
    {{components/customer/find-customers}}
    </div>
    <div class="small-9 columns">
      {{#components/customer/create-new-customer customer=attr.customer addCustomer="addCustomer"}}{{/components/customer/create-new-customer}}
    </div>
</div>