<div class="row collapse" style="max-width: 100%; padding:0px 10px 0px 10px;">
  <div class="large-12 columns">
    {{component attr.mainWidget.widget attr=attr addCustomer="addCustomer"}}
  </div>
  <!--<div class=" small-2 columns left-pane">-->
    <!--{{!navigation/left-nav attr=attr setWidget='setWidget' changeLeftWidget='changeLeftWidget'}}-->
  <!--</div>-->
</div>