<div class="row" style="max-width: 100%">
  <div class=" small-2 columns left-pane">
    {{navigation/left-nav attr=attr setWidget='setWidget'}}
  </div>

  <div class="small-10 columns">
    {{component getMainWidget attr=attr addCustomer="addCustomer" }}
  </div>

</div>