<div class="row" style="max-width: 100%">
  <div class="small-12 columns">
    {{component attr.mainWidget.widget attr=attr addCustomer="addCustomer" }}
  </div>
  <!--div class=" small-2 columns left-pane">
    {{!navigation/left-nav attr=attr setWidget='setWidget'}}
  </div-->


</div>