<div class="row">
    <div class="large-12 columns">
        <label>Enter Keyword
          {{input value=searchValue}}
        </label>
      {{#each listCustomer as |cust|}}
          <div class="cust-sect">
            {{cust.fname}}
          </div>
      {{/each}}
    </div>
</div>