<section class="order-details parent-container">
  <div class="div-row">
      <span>Customer</span><div class="control-buttons right"><div class="add-btn">+</div></div>
  </div>
  <div class="div-row">
      <span>Table</span><div class="control-buttons right"><div class="add-btn">+</div></div>
  </div>
    <div class="div-row">
        <div class="switch tiny left">
            <input id="collection" type="checkbox" class="left">
            <label for="collection" class="left"></label>
            <div class="switch-label left">Collection</div>
        </div>
    </div>
    <div class="div-row">
        <div class="switch tiny left">
            <input id="collection" type="checkbox" class="left">
            <label for="collection" class="left"></label>
            <div class="switch-label left">Delivery</div>
        </div>
    </div>
    <div class="div-row">
        <div>TAX</div>
        <div>00.00%</div>
    </div>
</section>