<section class="order-details parent-container">
  <div class="div-row">
      <span>Customer</span><div class="control-buttons right"><div class="add-btn">+</div></div>
  </div>
  <div class="div-row">
      <span>Table</span><div class="control-buttons right"><div class="add-btn">+</div></div>
  </div>
    <div class="div-row">
        <div class="switch tiny left">
            <input id="collection" type="checkbox" class="left">
            <label for="collection" class="left"></label>
            <div class="switch-label left">Collection</div>
        </div>
    </div>
    <div class="div-row">
        <div class="switch tiny left">
            <input id="delivery" type="checkbox" class="left">
            <label for="delivery" class="left"></label>
            <div class="switch-label left">Delivery</div>
        </div>
    </div>
    <div class="div-row order-rates">
        <div>Tax</div>
        <div>00.00%</div>
    </div>
    <div class="div-row order-rates">
        <div>Discount</div>
        <div>00.00%</div>
    </div>
    <div class="div-row order-rates">
        <div>Delivery Charges</div>
        <div>00.00%</div>
    </div>
    <div class="div-row order-rates">
        <div>Sub Total</div>
        <div>LKR 200.00</div>
    </div>
    <div class="div-row">
        <div>Total</div>
        <div class="total">LKR 224.00</div>
    </div>
    <div class="div-row">
        <div class="btn-order-detail"><button class="button-small">Send Order</button></div>
    </div>
    <div class="div-row">
        <div class="btn-order-detail"><button class="button-small">Checkout</button></div>
    </div>
</section>