<div class="list-items data-equalizer">
    <div class="row data-equalizer-watch">
        <div class="medium-6 columns">Item</div>
        <div class="medium-2 columns">Quantity</div>
        <div class="medium-2 columns">Price</div>
        <div class="medium-2 columns">Sub Total</div>
    </div>
    <div class="row data-equalizer-watch">
        <div class="medium-6 columns">Cheese Macaroni</div>
        <div class="medium-2 columns">1</div>
        <div class="medium-2 columns">LKR 200.00</div>
        <div class="medium-2 columns">LKR 200.00</div>
    </div>
</div>