<div class="list-items">
    <div class="row">
        <div class="small-6 columns">Item</div>
        <div class="small-2 columns">Quantity</div>
        <div class="small-2 columns">Price</div>
        <div class="small-2 columns">Sub Total</div>
    </div>
    <div class="row">
        <div class="small-6 columns">Cheese Macaroni</div>
        <div class="small-2 columns">1</div>
        <div class="small-2 columns">LKR 200.00</div>
        <div class="small-2 columns">LKR 200.00</div>
    </div>
</div>